* {
	box-sizing: border-box;
}

body{
	background-color: #0D3252;
	color: #FFFFFF;
	font-family: arial;
}

h3 {
	color: #000000;
}

h1, h3, h4 {
	text-align: center;
}


.dashboard-container {
	background-color: #0D3252;
	flex-basis: 100%;
	margin: 40px auto 0 auto;
}

.dashboard-item {
	padding: 10px;
	background-color: #456789;
	float: left;
}

img {
	max-width: 100%;
	float: left;
}

.brandstof, .brandstof1 {
	order: 1;
	background-color: #FFFFFF;
}

.omgeving, .omgeving1 {
	order: 2;
	background-color: #FFFFFF;
}

.voorraden, .voorraden1 {
	order: 3;
	background-color: #FFFFFF;
}

.tools, .tools1 {
	order: 4;
	background-color: #FFFFFF;
}

.brandstoflink {
	list-style: none;
}


/*Responsive*/

/*Mobiel*/
@media only screen and (max-width: 600px) {
	.dashboard-item {
		width: 100%;
		margin-bottom: 5px;
	}

	.brandstof1, .omgeving1, .tools1, .voorraden1 {
		display: none;
	}
}

/*Einde mobiel*/

/*Tablet*/
@media only screen and (min-width: 601px) and (max-width: 904px) {
	.dashboard-item {
		width: 49.5%;
		margin-bottom: 5px;
	}
	.brandstof1, .omgeving1, .tools1, .voorraden1 {
		display: none;
	}
		.dashboard-container {
		flex-flow: row;
		display: flex;	
		flex-wrap: wrap;
		justify-content: space-between;

	}
}

/*Einde tablet*/

/*Klein desktop*/
@media only screen and (min-width: 905px) and (max-width: 1174px){
	.dashboard-item {
		width: 33.2%;
		margin-bottom: 5px;
	}
	.brandstof1, .omgeving1, .tools1, .voorraden1 {
		display: none;
	}
	.dashboard-container {
		flex-flow: row;
		display: flex;	
		flex-wrap: wrap;
		justify-content: space-between;

	}

}

/*Einde klein desktop*/

/*Full desktop*/
@media only screen and (min-width: 1175px) {
	.dashboard-item {
		width: 49.7%;
		margin-bottom: 5px;
	}

	.dashboard-container {
		max-width: 1200px;
		flex-flow: row;
		display: flex;	
		flex-wrap: wrap;
		justify-content: space-between;

	}	

	.brandstoflink {
		display: none;
	}
}
/*Eind full desktop*/




